@charset "UTF-8";
/* Roboto - Regular */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Roboto - Bold */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Montserrat - для лого */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.button {
  padding: 0.3rem 1rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  border: 0.02rem solid transparent;
  border-radius: 1rem;
  background: linear-gradient(to right, #5a70d4, #a27cca, #5a80d2, #ae60ee);
  box-shadow: 0 0.4rem 1rem 0 rgba(136, 92, 197, 0.75);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-position: 100% 0;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(136, 92, 197, 0.75);
  }
}
.header {
  position: relative;
  max-width: 90rem;
  min-width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__image {
  width: 4rem;
}

.logo__title {
  font-family: "Montserrat";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
}

.header-underline {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(to right, rgba(90, 112, 212, 0.5), rgb(162, 124, 202), rgba(90, 128, 210, 0.5));
  box-shadow: 0rem 0 1rem white;
  bottom: 0;
}

@media screen and (max-width: 660px) {
  .logo {
    gap: 0.5rem;
  }
  .logo__image {
    width: 2.7rem;
  }
  .logo__title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
}
.footer {
  position: relative;
  max-width: 90rem;
  min-width: 90vw;
  padding: 1rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.footer-upline {
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(to right, rgba(90, 112, 212, 0.5), rgb(162, 124, 202), rgba(90, 128, 210, 0.5));
  box-shadow: 0rem 0 1rem white;
  top: 0;
}

.link__image {
  width: 3rem;
}

@media screen and (max-width: 660px) {
  .footer {
    padding: 0.5rem 0;
  }
  .link__image {
    width: 2.2rem;
  }
}
.test-wrapper__name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
}

.test-wrapper__description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
  text-indent: 1.5rem;
}

.button-block__description {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
}

@media screen and (max-width: 660px) {
  .test-wrapper__name {
    font-size: 1.3rem;
  }
  .test-wrapper__description {
    font-size: 1rem;
    letter-spacing: 0.001rem;
  }
}
.test-wrapper__question {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
}

.test-wrapper__answers {
  width: 70vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.test-wrapper__answer {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  color: #fff;
  text-shadow: 0.1rem 0.2rem 0.2rem black;
  user-select: none;
  text-indent: 1.5rem;
  padding: 1rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: 0.02rem solid transparent;
  border-radius: 1rem;
  background: linear-gradient(to right, #475bb5, #6b4d8b, #39538c, #7a39b0);
  box-shadow: 0 0.4rem 1rem 0 rgba(136, 92, 197, 0.75);
  background-size: 300% 100%;
  transition: all 1s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
  .test-wrapper__answer:hover {
    background-position: 100% 0;
    box-shadow: 0 0.4rem 0.5rem 0 rgba(136, 92, 197, 0.75);
  }
}

@media screen and (max-width: 660px) {
  .info-wrapper {
    height: 30%;
  }
  .test-wrapper__question {
    font-size: 1rem;
  }
  .test-wrapper__answers {
    width: 92vw;
    height: 70%;
  }
  .test-wrapper__description {
    font-size: 1rem;
    letter-spacing: 0.001rem;
  }
  .test-wrapper__answer {
    font-size: 1rem;
  }
}
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(27, 51, 81) 16%, rgb(36, 6, 33) 93%);
}

.main {
  flex: 1;
  max-width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
