@use '_variables.scss' as *;
@use '_typography.scss' as *;

.button {
    padding: 0.3rem 1rem;
    color: $text-color;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0.02rem solid transparent;
    border-radius: 1rem;

    background: $button;
    box-shadow: $shadow;
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            background-position: 100% 0;
            box-shadow: $shadow-hover;
        }
    }
    
}

@mixin line {
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(to right, 
        rgba(90, 112, 212, 0.5), 
        rgba(162, 124, 202, 1), 
        rgba(90, 128, 210, 0.5)
    );
    box-shadow: 0rem 0 1rem white;
}

@mixin answer-btn {
    @include description;
    padding: 1rem;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    border: 0.02rem solid transparent;
    border-radius: 1rem;

    background: $answer;
    box-shadow: $shadow;
    background-size: 300% 100%;
    transition: all 1s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-position: 100% 0;
            box-shadow: $shadow-hover;
        }
    }
}

