@use '_components' as *;

.footer {
    position: relative;
    max-width: 90rem;
    min-width: 90vw;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.footer-upline {
    @include line;
    top: 0;
}

.link__image {
    width: 3rem;
}

@media screen and (max-width: 660px) {
    .footer {
        padding: 0.5rem 0;
    }

    .link__image {
        width: 2.2rem;
    }
}