@use '_components' as *;
@use '_typography' as *;

.header {
    position: relative;
    max-width: 90rem;
    min-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__image {
    width: 4rem;
}

.logo__title {
    @include logo;
}

.header-underline {
    @include line;
    bottom: 0;
}

@media screen and (max-width: 660px) {

    .logo {
        gap: 0.5rem;
    }

    .logo__image {
        width: 2.7rem;
    }

    .logo__title {
        font-size: 1.5rem;
        margin: 0.5rem 0;
    }
}