@use '_components' as *;
@use '_typography' as *;

.header {
    position: relative;
    max-width: 90rem;
    min-width: 90vw;
    padding: 1rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__title {
    @include logo;
}

.header-underline {
    @include line;
    bottom: 0;
}