@use '_components' as *;
@use '_typography' as *;
@use '_components' as *;

.test-wrapper__question {
    @include subtitle;
}

.test-wrapper__answers {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.test-wrapper__answer {
    @include answer-btn;
}

@media screen and (max-width: 660px) {

    .info-wrapper {
        height: 30%;
    }
    
    .test-wrapper__question {
        font-size: 1rem;
    }

    .test-wrapper__answers {
        width: 92vw;
        height: 70%;
    }

    .test-wrapper__description {
        font-size: 1rem;
        letter-spacing: 0.001rem;
    }

    .test-wrapper__answer {
        font-size: 1rem;
    }
}