@use '_components' as *;
@use '_typography' as *;

.test-wrapper__name {
    @include title;
}

.test-wrapper__description {
    @include description;
}

.button-block__description {
    @include clue;
}

@media screen and (max-width: 660px) {
    
    .test-wrapper__name {
        font-size: 1.3rem;
    }

    .test-wrapper__description {
        font-size: 1rem;
        letter-spacing: 0.001rem;
    }
}