// colors
$background: linear-gradient(to right, 
    rgba(27, 51, 81, 1) 16%, 
    rgba(36, 6, 33, 1) 93%
);

$button: linear-gradient(to right, #5a70d4, #a27cca, #5a80d2, #ae60ee);
$answer: linear-gradient(to right, #475bb5, #6b4d8b, #39538c, #7a39b0);

$shadow: 0 0.4rem 1rem 0 rgba(136, 92, 197, 0.75);
$shadow-hover: 0 0.4rem 0.5rem 0 rgba(136, 92, 197, 0.75);

$text-color: #fff;
$text-shadow-color: 0.1rem 0.2rem 0.2rem black;
