@use '_header.scss' as *;
@use '_footer.scss' as *;
@use '_components.scss' as *;
@use '_variables.scss' as *;
@use '_testRender.scss' as *;
@use '_questionsRender.scss' as *;

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $background;
}

.main {
  flex: 1;
  max-width: 91%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}